export const config = {
    admin: { username: 'admin', password: 'mm520520' },
    mysql: {
        host: '0.0.0.0',
        port: 3306,
        username: 'root',
        password: '',
        database: 'tbb',
        charset: 'utf8mb4',
        timezone: '+08:00',
    },
    redis:{
        host: '0.0.0.0',
        port: 6379,
        db: 0,
        password: 'root'
    }
};
