.author
    top .6rem
    bottom 0
    position fixed
    overflow-y auto
    .wrap
        max-width 9rem
        margin auto
    .left
        font-size .14rem
        .avatar
            height 1.4rem
            width 1.4rem
            margin .4rem auto
    @media (min-width: 801px)
        padding-left 3rem

        .left
            width 2.8rem
            margin-left -3rem
            position fixed
        .right
            padding-left .2rem
            border-left 1px dashed #fff2
            min-height 80vh
