@font-face
  font-family 'icomoon'
  src  url('../fonts/icomoon.ttf')
  font-weight normal
  font-style normal
  font-display block


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'icomoon' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.icon-angle-double-down:before {
  content: "\e900";
}
.icon-angle-double-left:before {
  content: "\e901";
}
.icon-angle-double-right:before {
  content: "\e902";
}
.icon-angle-double-up:before {
  content: "\e903";
}
.icon-angle-down:before {
  content: "\e904";
}
.icon-angle-left:before {
  content: "\e905";
}
.icon-angle-right:before {
  content: "\e906";
}
.icon-angle-up:before {
  content: "\e907";
}
.icon-arrow-down-b:before {
  content: "\e908";
}
.icon-arrow-down-o:before {
  content: "\e909";
}
.icon-arrow-down:before {
  content: "\e90a";
}
.icon-arrow-left-b:before {
  content: "\e90b";
}
.icon-arrow-left-o:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90d";
}
.icon-arrow-right-b:before {
  content: "\e90e";
}
.icon-arrow-right-o:before {
  content: "\e90f";
}
.icon-arrow-right:before {
  content: "\e910";
}
.icon-arrow-up-b:before {
  content: "\e911";
}
.icon-arrow-up-o:before {
  content: "\e912";
}
.icon-arrow-up:before {
  content: "\e913";
}
.icon-balance-scale:before {
  content: "\e914";
}
.icon-ban:before {
  content: "\e915";
}
.icon-bell:before {
  content: "\e916";
}
.icon-bold:before {
  content: "\e917";
}
.icon-buoy-o:before {
  content: "\e918";
}
.icon-calendar:before {
  content: "\e919";
}
.icon-camera-o:before {
  content: "\e91a";
}
.icon-camera:before {
  content: "\e91b";
}
.icon-card:before {
  content: "\e91c";
}
.icon-chart:before {
  content: "\e91d";
}
.icon-chat:before {
  content: "\e91e";
}
.icon-check-o:before {
  content: "\e91f";
}
.icon-check:before {
  content: "\e920";
}
.icon-clan:before {
  content: "\e921";
}
.icon-clans:before {
  content: "\e922";
}
.icon-clear:before {
  content: "\e923";
}
.icon-clip:before {
  content: "\e924";
}
.icon-close:before {
  content: "\e925";
}
.icon-cog-o:before {
  content: "\e926";
}
.icon-comment-o:before {
  content: "\e927";
}
.icon-commit:before {
  content: "\e928";
}
.icon-compass:before {
  content: "\e929";
}
.icon-crop:before {
  content: "\e92a";
}
.icon-delete:before {
  content: "\e92b";
}
.icon-doc:before {
  content: "\e92c";
}
.icon-earser:before {
  content: "\e92d";
}
.icon-earth:before {
  content: "\e92e";
}
.icon-edit:before {
  content: "\e92f";
}
.icon-emoji:before {
  content: "\e930";
}
.icon-eye-close:before {
  content: "\e931";
}
.icon-eye-close2:before {
  content: "\e932";
}
.icon-eye-open:before {
  content: "\e933";
}
.icon-eye-open2:before {
  content: "\e934";
}
.icon-favorite:before {
  content: "\e935";
}
.icon-file-music:before {
  content: "\e936";
}
.icon-file:before {
  content: "\e937";
}
.icon-filter:before {
  content: "\e938";
}
.icon-find:before {
  content: "\e939";
}
.icon-fire:before {
  content: "\e93a";
}
.icon-flag:before {
  content: "\e93b";
}
.icon-follow1:before {
  content: "\e93c";
}
.icon-follow2:before {
  content: "\e93d";
}
.icon-follow3:before {
  content: "\e93e";
}
.icon-forward:before {
  content: "\e93f";
}
.icon-gift:before {
  content: "\e940";
}
.icon-h2:before {
  content: "\e941";
}
.icon-headphones:before {
  content: "\e942";
}
.icon-heart:before {
  content: "\e943";
}
.icon-help:before {
  content: "\e944";
}
.icon-home:before {
  content: "\e945";
}
.icon-image:before {
  content: "\e946";
}
.icon-inbox:before {
  content: "\e947";
}
.icon-info-o:before {
  content: "\e948";
}
.icon-italic:before {
  content: "\e949";
}
.icon-language:before {
  content: "\e94a";
}
.icon-law:before {
  content: "\e94b";
}
.icon-level:before {
  content: "\e94c";
}
.icon-like-n:before {
  content: "\e94d";
}
.icon-like:before {
  content: "\e94e";
}
.icon-link-plus:before {
  content: "\e94f";
}
.icon-link:before {
  content: "\e950";
}
.icon-linkto:before {
  content: "\e951";
}
.icon-list-ol:before {
  content: "\e952";
}
.icon-list:before {
  content: "\e953";
}
.icon-location:before {
  content: "\e954";
}
.icon-lock:before {
  content: "\e955";
}
.icon-logout:before {
  content: "\e956";
}
.icon-loop:before {
  content: "\e957";
}
.icon-loudspeaker:before {
  content: "\e958";
}
.icon-mail-o:before {
  content: "\e959";
}
.icon-mail-open:before {
  content: "\e95a";
}
.icon-md:before {
  content: "\e95b";
}
.icon-menu:before {
  content: "\e95c";
}
.icon-menu0:before {
  content: "\e95d";
}
.icon-menu1:before {
  content: "\e95e";
}
.icon-menu2:before {
  content: "\e95f";
}
.icon-menu3:before {
  content: "\e960";
}
.icon-menu4:before {
  content: "\e961";
}
.icon-menu5:before {
  content: "\e962";
}
.icon-menu6:before {
  content: "\e963";
}
.icon-menu7:before {
  content: "\e964";
}
.icon-microphone-slash:before {
  content: "\e965";
}
.icon-microphone:before {
  content: "\e966";
}
.icon-minus:before {
  content: "\e967";
}
.icon-music:before {
  content: "\e968";
}
.icon-outbox:before {
  content: "\e969";
}
.icon-page:before {
  content: "\e96a";
}
.icon-phone:before {
  content: "\e96b";
}
.icon-plus:before {
  content: "\e96c";
}
.icon-quill:before {
  content: "\e96d";
}
.icon-quote-left-o:before {
  content: "\e96e";
}
.icon-quote-left:before {
  content: "\e96f";
}
.icon-quote-right-o:before {
  content: "\e970";
}
.icon-quote-right:before {
  content: "\e971";
}
.icon-redo:before {
  content: "\e972";
}
.icon-reply-o:before {
  content: "\e973";
}
.icon-reply:before {
  content: "\e974";
}
.icon-rose:before {
  content: "\e975";
}
.icon-save:before {
  content: "\e976";
}
.icon-search:before {
  content: "\e977";
}
.icon-sex-female:before {
  content: "\e978";
}
.icon-sex-male:before {
  content: "\e979";
}
.icon-sex:before {
  content: "\e97a";
}
.icon-share:before {
  content: "\e97b";
}
.icon-sort-down:before {
  content: "\e97c";
}
.icon-sort-up:before {
  content: "\e97d";
}
.icon-sort:before {
  content: "\e97e";
}
.icon-spinner:before {
  content: "\e97f";
}
.icon-star:before {
  content: "\e980";
}
.icon-store:before {
  content: "\e981";
}
.icon-strikethrough:before {
  content: "\e982";
}
.icon-thumb-n:before {
  content: "\e983";
}
.icon-thumb:before {
  content: "\e984";
}
.icon-time:before {
  content: "\e985";
}
.icon-tool-button:before {
  content: "\e986";
}
.icon-tool:before {
  content: "\e987";
}
.icon-trash:before {
  content: "\e988";
}
.icon-type0:before {
  content: "\e989";
}
.icon-type1:before {
  content: "\e98a";
}
.icon-type2:before {
  content: "\e98b";
}
.icon-type3:before {
  content: "\e98c";
}
.icon-type4:before {
  content: "\e98d";
}
.icon-type5:before {
  content: "\e98e";
}
.icon-undo:before {
  content: "\e98f";
}
.icon-unlink:before {
  content: "\e990";
}
.icon-user-minus:before {
  content: "\e991";
}
.icon-user-o:before {
  content: "\e992";
}
.icon-user-plus:before {
  content: "\e993";
}
.icon-users:before {
  content: "\e994";
}
.icon-video:before {
  content: "\e995";
}
.icon-volume-decrease:before {
  content: "\e996";
}
.icon-volume-high:before {
  content: "\e997";
}
.icon-volume-increase:before {
  content: "\e998";
}
.icon-volume-low:before {
  content: "\e999";
}
.icon-volume-medium:before {
  content: "\e99a";
}
.icon-volume-mute:before {
  content: "\e99b";
}
.icon-volume-mute2:before {
  content: "\e99c";
}
.icon-warning:before {
  content: "\e99d";
}
.icon-zoom-in:before {
  content: "\e99e";
}
.icon-zoom-out:before {
  content: "\e99f";
}