.page_det .mdview
    > *
        margin-left auto
        margin-right auto

.mdview
    text-align justify
    font-size .16rem
    line-height 1.6
    > *
        max-width 1200px
    killjs
        display none
    ul,ol
        margin .1rem auto
        padding-left .4rem
        list-style-position outside
        line-height 1.8
        li
            margin .2rem 0

    hr
        border 0
        border-top 1px dashed #fff2

    ul li
        list-style-type disc

    ol li
        list-style-type decimal
        //text-align left

    h1,h2,h3
        margin .3rem auto
        line-height 1.3
        text-align center

    h1
        font-size 1.8em
        font-family FangSong
        color $gold
        text-align center
        margin-top .2rem
        border-bottom 1px solid #fff2
        padding-bottom .1rem

    h2
        font-size 1.5em
        border-bottom 1px dashed #fff1
        padding-bottom .05rem


    h3
        font-size 1.4em
        color $lv2

    h4
        font-size 1.2em
        color $jv
        font-weight normal

    p
        margin 1em auto
        line-height 1.7
    li img
        margin .1rem 0 .3rem -.2rem
    img
        max-width 100%
        border-radius 4px
        display table
        margin .1rem auto

    b
        color $jv
    i
        color $lv
    a
        color $mlv

    blockquote
        background #0004 !important
        border-left 5px solid #000 !important
        display block
        margin .3rem auto !important
        padding .05rem .1rem .05rem .15rem !important

        p
            margin .1rem 0 !important
            line-height 1.5
            text-indent 0
    pre
        white-space pre-wrap

    code
        background #000
        padding 5px 8px
        display inline-block
        border-radius .04rem
    p code
        margin 1px 2px
        padding 1px 6px

    table
        width: 100%;
        background #010309
        border-collapse separate
        border-spacing 1px
        overflow hidden
        border 0
        th,td
            border 0
            line-height: 1.2
            text-align: center;
            padding 10px 4px
            &[align="left"]
                text-align left
            &[align="right"]
                text-align right
        th
            background #fff1
            color #fff6
        td
            background #fff2
            white-space nowrap
    .w-e-panel-container
        //background #ccc
        border-color #000
        box-shadow none
        ul,li
            list-style none
            margin 0
            padding 0
